/*:root {
  --main-text-color: #212121;
  --accent-color: #2196f3;
  --description-color: #757575;
  --footer-color: #2f303a;
  --mail-footer-color: rgba(255, 255, 255, 0.6);
}*/
:root {
  --accent-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #757575;
  --secondary-color: #212121;
  --hover-color: #2196f3;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
img {
  display: block;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
}
p,
ul,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*outline: 1px solid red;*/
  /*background-color: aqua;*/
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*.flexbox {
  display: flex;
}*/
.link {
  text-decoration: none;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

/*header*/
/*.header {
  display: flex;
  align-items: baseline;
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: #ffffff;
}*/
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: #ffffff;
}

.header .container {
  display: flex;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #212121;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}
.nav-list-item:not(:last-child) {
  margin-right: 40px;
}
.address-list-list {
  font-style: normal;
  display: flex;
  /*align-items: baseline;*/
}
.address {
  font-style: normal;
}

.logo-link {
  margin-right: 92px;
}

/*.navigation-list .li:not(:last-child) {
  margin-right: 50px;
}*/
.header .address {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-left: auto;
  /*align-items: baseline;*/
}
/*.header .address .li:not(:last-child) {
  margin-right: 50px;
}*/
.address-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link {
  color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  /*color: var(--secondary-color);*/
}

.address-mail-link,
.address-tel-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.navigation-link:hover,
.navigation-link:focus,
.address-mail-link:hover,
.address-mail-link:focus,
.address-tel-link:hover,
.address-tel-link:focus {
  color: var(--hover-color);
}

/*.header-contact-item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header-contact-item:not(:last-child) {
  margin-right: 50px;
}

/*heroooooooo*/

.hero {
  background: #2f303a;
  text-align: center;
}

.container-hero {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.hero-title {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.modal-btn {
  display: inline-block;
  border-style: none;
  min-width: 200px;
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: var(--hover-color);
  border-radius: 4px;
  padding: 0px, 32px;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: white;
  color: var(--hover-color);
  border-radius: 4px;
}

/*Advantage*/

.advantage {
  padding-top: 94px;
  /*padding-bottom: 94px;*/
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title-advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.advantage-description {
  /*margin-bottom: 94px;*/
  padding: 270px, 75px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.last {
  margin-bottom: 0px;
}
/*.advantage-list,
.advantage-list-item,*/
.title-advantage-title {
  /*margin-top: 0px;*/
  margin-bottom: 10px;
}
.advantage-item {
  width: 270px;
}

.advantage-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

/*profile*/

/*.section profile {
  margin-top: 94px;
  margin-bottom: 94px;
}*/
.profile {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.profile-description {
  display: flex;
  justify-content: space-between;
}
.profile-list-img {
  margin-right: 30px;
  margin-left: 0px;
  width: 370px;
  height: 294px;
}
.profile-pic-last {
  margin-left: 0px;
}
/*.services-list-item {
  display: inline-block;
}*/

/*TEAM*/

.title-team {
  margin-bottom: 50px;
  border-top: 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.workers {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 94px;
}
.name-description {
  margin: 30px 0;
}

.member-list-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}

.members-list {
  display: flex;
  justify-content: space-between;
}

.member-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.img-team {
  display: block;
}
/*.portrait {
  margin-bottom: 30px;
}*/

/*FOOOOOOTER*/
.footer-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.logo-studio-footer {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #ffffff;
}

footer address {
  margin-top: 20px;
}
.footer-map {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-mail,
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-list {
  flex-direction: column;
}
/*.footer-mail-item,
.footer-tel-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}*/

.footer-dark {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
/*------------------------------------ END of Index-----------------*/

/*------------------PORTFOLIO----------------*/

.completed .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.knobs {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
/*.project-filter-item + .project-filter-item {
  margin-left: 8px;
}*/
.knobs-item {
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  background-color: #f5f4fa;
  border: transparent;
}

.knobs-item:hover,
.knobs-item:focus {
  color: #ffffff;
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.knobs-item {
  margin-right: 8px;
}
.work-description {
  display: flex;
  flex-wrap: wrap;
}
.work-desc-container {
  width: 370px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.work-desc-container:not(:nth-child(3n)) {
  margin-right: 30px;
}

.work-desc-container:not(:nth-child(n + 7)) {
  margin-bottom: 30px;
}
.work-card {
  padding: 20px 24px;
}
.company-works {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}
.description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
